*.pyc
__pycache__
session_data
/build/
/dist/
/*.egg-info/

# docs (generated output)
/docs/*
# ... but whitelist design documents
!/docs/designs/

# virtualenv
/env
/env2

# IDE files
*.sublime-*
/.idea/
.DS_Store
